@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.contentContainer {
  height: 75vh;
  width: 100%;
  background: #f9f9f9;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageTitle {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 500;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  width: 13rem;
  margin-bottom: 1.3rem;
}

.errorMessage {
  margin-bottom: 1.3rem;
  color: red;
}

.label {
  margin-bottom: 0.2rem;
}

.resultMessage {
  margin-bottom: 1.3rem;
  color: green;
}

