@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.contentContainer {
  height: 70vh;
  background: #f9f9f9;
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin-left: 20px;
  margin-right: 20px;
}

.pageTitle {
  margin-top: 1rem;
}
