@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.contentContainer {
  height: 75vh;
  width: 100%;
  background: #f9f9f9;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.pageTitle {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 500;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  width: 13rem;
  margin-bottom: 1.3rem;
}

.errorMessage {
  margin-bottom: 1.3rem;
  color: red;
}

.submitButton {
  margin-bottom: 1rem;
}

.label {
  margin-bottom: 0.2rem;
}

.ratio {
  display: flex;
  flex-direction: row;
}

.firstRatioContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  margin-left: 1.2rem;
  margin-right: -1.5rem;
}

.firstRatioTitle {
  margin-bottom: 0.2rem;
}

.checkboxContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.2rem;
  margin-right: -2rem;
}

.checkbox {
  margin-left: 1rem;
  margin-bottom: 1.2rem;
}