@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.header {
  background: #4299E1;
  height: 10vh;
  line-height: 10vh;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.header h1 a {
  color: white;
  text-decoration: none;
}
