@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.contentContainer {
  height: 70vh;
  width: 100%;
  background: #dbd3d8;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageTitle {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 500;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  width: 13rem;
  margin-bottom: 1.3rem;
}

.errorMessage {
  color: red;
}

.ratio {
  display: flex;
  flex-direction: row;
}

.firstRatioContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: -6.4rem;
}

.secondRatioContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: -1.4rem;
}

.select {
  margin-right: 0.2rem;
}
