@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.footer {
  background: #4299E1;
  height: 10vh;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  text-align: center;
  line-height: 10vh;
  bottom: 0;
  position: fixed;
  width: 100%;
}

.footer h1 {
  color: white;
}
