@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.contentContainer {
  height: 81vh;
  width: 100%;
  background: #dbd3d8;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionsContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 200px;
  padding-right: 200px;
}

.description {
  width: 30%;
}

.pageTitle {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 500;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  width: 13rem;
  margin-bottom: 1.3rem;
}

.errorMessage {
  margin-bottom: 1.3rem;
  color: red;
}

.ratio {
  display: flex;
  flex-direction: row;
}

.firstRatioContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  margin-right: -1.5rem;
  margin-left: 1.5rem;
}

.firstRatioTitle {
  margin-bottom: 0.2rem;
}

.submitButton {
  margin-bottom: 1rem;
}

.label {
  margin-bottom: 0.2rem;
}

.resultMessage {
  margin-bottom: 1.3rem;
  color: green;
}

.line {
  margin-bottom: 20px;
}


@media (max-width: 768px) {
  .contentContainer {
    width: 100%;
    height: 820px;
  }
  .sectionsContainer {
    display: initial;
    padding-left: 35px;
    padding-right: 35px;
  }
  .description {
    width: 100%;
  }
  .checkboxContainer {
    margin-bottom: 5px;
  }
  .resultMessage {
    padding-left: 20px;
    padding-right: 20px;
  }
}

